<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name=".OpenComicVineApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.OpenComicVine"
        android:usesCleartextTraffic="true"
        tools:targetApi="35">
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.OpenComicVine.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="comicvine.gamespot.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.image_viewer.ImageViewerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.AuthActivity"
            android:exported="false" />
        <activity
            android:name=".ui.crash_report.CrashReportActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:process=":acra"
            android:theme="@style/Theme.OpenComicVine.Translucent" />
    </application>

</manifest>